<%- include('./partials/header') %>

    <div class="columns">
      
      <div class="column is-half">
        <div id="left-home-column">
          <div class="text-area">
            <h1 class="title" id="title-main">
                DeepWoods is a Place of Secrets
            </h1>
            <p>Where foragers can trade their hard-won knowledge with other hunters. Make a secret, trade it for someone else's, 
              and then get out to the woods!</p>
          </div>
          <div id="map"></div>
        </div>
      </div>
      <div class="column is-half">
        <div id="right-home-column">
        <div class="text-area head">
          <h1 class="title">Secret Exchange</h1>
        </div>

          <div class="trade-container-main">
              <div class="trade-block">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
              </div>
              <br><br>
              <div class="trade-block">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                </div><br><br>
                <div class="trade-block">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                  </div><br><br>
                  <div class="trade-block">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                    </div><br><br>
                    <div class="trade-block">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                      </div><br><br>
                      <div class="trade-block">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                        </div>
                  
          </div>

        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>