<%- include('./partials/header') %>
<div class="columns">
   <div class="column ref-column">
      <div class="trade-container-main">
         <p class="secret-display-block">Mushroom foragers are well known for keeping their spots 
               a secret - after all, one doesn't hike through the woods for days on end staring at duff 
               only to spill their secrets to the first noob who asks where to find the choice boletes. 
               Now you can expand your range while keeping your secret within the community. Happy hunting!
         </p>
         <div class="secret-display-block links-container">
            <h1 class="title">Here are some links we think may come in handy:</h1>
            <a class="ref-link" href="http://mushroomobserver.org" target="_blank">mushroomobserver.org</a>
            <a class="ref-link" href="http://www.ediblewildmushrooms.com/" target="_blank">www.ediblewildmushrooms.com</a>
            <a class="ref-link" href="http://mushrooms.simons-rock.edu/" target="_blank">mushrooms.simons-rock.edu</a>
         </div>
      </div>
   </div>
</div>


<%- include('./partials/footer') %>