* {
  font-family: 'Oxygen', sans-serif;
  color: silver;
}

html {
  background-color: black;
  background-image: url('/images/forest-dark-person.jpg');
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-weight: 600;
}

.navbar {
  margin: 1vw;
  height: 80px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgb(0, 41, 0),rgb(0, 41, 0, 0));
}

#goog {
  padding: 2px;
  border: 1px solid silver;
}

#left-home-column {
  margin: 2vw;
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-home-column {
  margin: 2vw;
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#left-users-column {
  margin: 2vw;
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#right-users-column {
  margin: 2vw;
  padding: 2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  padding: 2vw 3vw;
}

.title {
  font-size: 2.35rem;
  font-weight: 500;
  color: silver;
  font-family: 'Raleway', sans-serif;
}

#map {
  margin: 2vw;
  height: 80vh;
  width: 40vw;
}

.button.is-primary {
  background-color: transparent;
  border-color: transparent;
  color: inherit;
}

.button.is-primary:hover {
  background: rgb(72, 85,53, .5);
  border-color: transparent;
  color: inherit;
}

.navbar-dropdown {
  padding: 0;
}

a.navbar-item:hover, 
.is-hoverable:hover,
.navbar-item.has-dropdown:hover .navbar-link,
.navbar-link:hover {
  background-color: transparent;
  background-image: linear-gradient(to bottom, rgb(72, 85,53), rgb(0, 68,0, 0));
  color: silver;
}

.navbar-dropdown {
  background: transparent;
  background-image: linear-gradient(to top, rgba(72, 85, 53, .9), rgba(144, 170, 105, .1));
  border: none;
}
.navbar-dropdown a.navbar-item {
  background: transparent;
}
.navbar-dropdown a.navbar-item:hover {
  background: transparent;
  /* background: rgba(144, 170, 105, 0.5); */
  font-weight: bold;
  color: snow;
}

.navbar-item, .navbar-link {
  background-color: transparent;
  color: silver;
}

.trade-container-main, .radio-tab-container{
  background: rgba(72, 85, 53, 0.685);
  overflow: auto;
  color: silver;
  width: 40vw;
  margin: 2vw;
  height: 120vh;
  padding: 1vw;
}

.trade-block{
  background: rgb(10, 10, 10, .6);
}

.secret-static-map {
  margin-top: 15px;
}

.secret-display-block {
  background: rgb(10, 10, 10, .6);
  margin: 1vw;
  padding: 1vw;
}
.button.modal-button {
background: transparent;
color: silver;
}

.button.is-text {
  background-color: transparent;
  color: silver;
  border-color: white;
}

.button.is-text:hover {
  background-color: silver;
  color: #4a4a4a;
  border-color: #4a4a4a;
}

.navbar-item img {
  margin-right: 8px;
}

.label.form-label {
  color: silver;
  margin: 0;
  padding: 5px;
}

.modal section {
  background-color: rgb(60,60,60);
  display: block;
}

#edit-secret-form textarea,
#edit-secret-form input,
.modal-card header,
.modal-card footer
{
  background-color: rgb(220,220,220);
}

@media screen and (max-width: 769px) {
  #map, 
  .radio-tab-container, 
  #add-secret-form,
  .modal-card
  {
    width: 80vw;
  }

}

@media only screen and (max-width: 1087px) {
  .login-container, a.navbar-link{
    display: none;
  }
  
  .navbar-dropdown:hover, .navbar-item:hover {
    font-weight: bold;
    background: none;
  }

  .navbar-dropdown, a.navbar-item {
    background: none;
  }

  a img {
    display: none;
  }

  #navbarBasicExample {
    padding: 0;
    width: 30vw;
    margin-left: auto;
    background: transparent;
    background-image: linear-gradient(to top, rgba(72, 85, 53, 1), rgba(144, 170, 105, .15));
  }
}


/* -------- radio button tabs --------- */


.radio-tab {
  padding: 1vw 6vw;
}

section {
  display: none;
  padding: 20px 0 0;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #abc;
  border: 1px solid transparent;
}

.svg-inline--fa {
  margin-right: 1vw;
}

label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

label:hover {
  color: #789;
  cursor: pointer;
}

input:checked + label {
  border: 1px solid #abc;
}

#tab1:checked ~ #tab-content-1,
#tab2:checked ~ #tab-content-2,
#tab3:checked ~ #tab-content-3{
  display: block;
}

@media screen and (max-width: 800px) {
  .radio-tab {
    padding: 2vw 10vw;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  label {
    padding: 15px;
  }
}

