<%- include('../partials/header') %>

<div class="columns">

  <div class="column is-half">
    <div id="left-users-column">

      <div id="map"></div>

      <div class="text-area">
        <p id="secret-instructions">Move the pin on the map to your secret location. Then fill out the fields below and save your secret to trade later.</p>
      </div>

      <form id="add-secret-form" action="/users/secrets" method="POST">

        <div class="field is-horizontal">
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input name="species" class="input" type="text" placeholder="Species">
              </div>
            </div>
            <div class="field">
              <div class="control has-icons-left">
                <input name="locale" class="input" type="text" placeholder="General location(very)" value="County/locale">
                <span class="icon is-small is-left">
                  <i class="far fa-compass"></i>
                </span>
              </div>
            </div>
          </div>    
        </div>

        <div class="field">
          <label class="label">Terrain</label>
            <input name="terrain" class="input" type="text" placeholder="Say something about the geography" value="Heavy brush">
        </div>
        
        <div class="field">
          <label class="label">Notes</label>
          <div class="control">
            <textarea name="notes" class="textarea" placeholder="What else should someone know about this spot?"></textarea>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Submit</button>
          </div>
          <div class="control">
            <button type="reset" class="button is-text">Cancel</button>
          </div>
        </div>
        
      </form>

    </div>
  </div>

  <div class="column is-half">
    <div id="right-users-column">

      <div class="text-area head">
        <h1 class="title">Secret Exchange</h1>
      </div>

      <div class="messages-container-main">
        <input id="tab1" type="radio" name="tabs" checked>
        <label for="tab1">Your Messages</label>

        <input id="tab2" type="radio" name="tabs">
        <label for="tab2">Your Trades</label>

        <input id="tab3" type="radio" name="tabs">
        <label for="tab3">Your Secrets</label>

        <section id="tab-content-1">
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div>
          <br><br>
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div><br><br>
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div><br><br>
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div><br><br>
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div><br><br>
          <div class="trade-block">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div>
        </section>

      </div>

    </div>
  </div>
  
</div>

<%- include('../partials/footer') %>

<%  /* -- Mushroom foragers are well known for keeping their spots 
              a secret - after all, one doesn't hike through the woods for days on end staring at duff 
              only to spill their secrets to the first noob who asks where to find the choice boletes. 
              Now you can expand your range while keeping your secret within the community. Happy hunting! -- */ %>