<%- include('../partials/header') %>

    <div class="columns">
      
      <div class="column is-half">
        <div id="left-home-column">
          <div id="map"></div>
          <div class="text-area">
            <p id="secret-instructions">Move the pin on the map to your secret location. Then fill out the fields below and save your secret to trade later.</p>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div id="right-home-column">
        <div class="text-area head">
          <h1 class="title">Secret Exchange</h1>
        </div>
        <div class="messages-container-main">
          <div class="trade-block">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
          </div>
          <br><br>
          <div class="trade-block">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
            </div><br><br>
            <div class="trade-block">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
              </div><br><br>
              <div class="trade-block">
                  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                </div><br><br>
                <div class="trade-block">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                  </div><br><br>
                  <div class="trade-block">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit laudantium consectetur quis praesentium dolore, explicabo animi temporibus minima ullam numquam itaque iure accusantium possimus, fugiat dignissimos nulla doloribus vel placeat!</p>
                    </div>
              </div>
        </div>
      </div>
    </div>

<%- include('../partials/footer') %>

<%  /* -- Mushroom foragers are well known for keeping their spots 
              a secret - after all, one doesn't hike through the woods for days on end staring at duff 
              only to spill their secrets to the first noob who asks where to find the choice boletes. 
              Now you can expand your range while keeping your secret within the community. Happy hunting! -- */ %>